body{
    background-image:linear-gradient(to right,purple,pink,white);
    color: white;
}
.heading{
    font-size: 50px;
    color: white;
    margin-top: 0;
}
.move-icon{
    height: 200px;
    width: 200px;
    cursor: pointer;
    border: 1px;
    border-color: white;
    border-radius: 60px;
    margin-right: 30px;
}
.result{
    font-size:25px;
    font-weight:bold;
}